NET "sum" LOC = P51 | IOSTANDARD = LVTTL;
NET "cout" LOC = P41 | IOSTANDARD = LVTTL;

NET "a" LOC = P35 | IOSTANDARD = LVTTL;
NET "b" LOC = P33 | IOSTANDARD = LVTTL;
NET "cin" LOC = P30 | IOSTANDARD = LVTTL;