# Inputs
NET "cs<0>" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cs<1>" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;

# Outputs
NET "abc<0>"  LOC = P111 | IOSTANDARD = LVTTL;
NET "abc<1>"  LOC = P114 | IOSTANDARD = LVTTL;
NET "abc<2>"  LOC = P116 | IOSTANDARD = LVTTL;