NET "sum" LOC = P51;
NET "sum" IOSTANDARD = LVTTL;
NET "cout" LOC = P41;
NET "cout" IOSTANDARD = LVTTL;

NET "a" LOC = P35;
NET "a" IOSTANDARD = LVTTL;
NET "b" LOC = P33;
NET "b" IOSTANDARD = LVTTL;
NET "cin" LOC = P30;
NET "cin" IOSTANDARD = LVTTL;
